#dataTable, td, th, tr {
    border-collapse: collapse;
    border: 1px solid black;
}
#dataTable {
    margin: auto;
    width: 30%;
}

#dataHeader {
    background-color: #d4c9c0;
}

.dataRow {
    background-color: #f1f1f1;
}

.dataRow:nth-child(2n) {
    background-color: #e7e7e7;
}

form {
    text-align: center;
    width: 30%;
    margin: auto;
}